/*body {
    background: #CACACA url('images/Helena_Hike.jpg') no-repeat-x;
    font-family: "Trebuchet MS", Verdana, serif
}
*/
body{
    font-family: "Trebuchet MS", Verdana, serif;
    background-image: url("images/Helena_Hike.jpg");
    background-color: #FFFFFF;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#container {
    margin: 0 auto;
    width: 750px;
    /*height: 800px;*/
}
#header {
    width: 100%
}
#sub_header {
    text-align: right;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    padding-right: 20px;
    padding-bottom: 20px;
}
#main_content {
    margin: 0 auto;
    width: 100%;
    background: #FFFFFF;
    background-repeat: repeat-y;

}
#main_content_top {
    height: 30px;
    background: #FFFFFF;
}
#main_content_bottom {
    height: 30px;
    background: #FFFFFF;
}
#footer {
    text-align: center;
    font-size: 12px;
    margin: 10px auto
}
.content {
    float: left;
    width: 650px;
    /*height: 510px;*/
    text-align: justify;
    padding: 0 30px 0 30px;
    font-size: 12px;
    /*margin-left: auto;
    margin-right: auto;*/
}

#header h1 {
    margin-bottom: 0px;
    font-size: 28px;
    font-weight: bold;
    color: #A40008
}
.content h2 {
    margin-top: 0px;
    font-size: 18px;
    font-weight: bold;
    color: #A40008
}
#clear {
    display: block;
    clear: both;
    width: 100%;
    height:1px;
    overflow:hidden;
}

a {
    color: #A40008;
    font-weight: bold;
    text-decoration: none
}
a:hover {
    color: #A40008;
    font-weight: bold;
    text-decoration: underline
}

.quote {
    margin: 20px;
    text-align: center;
    font-weight: bold;
    font-style: italic
}

.imagecenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

/*
.table-scroll tbody {
    position: absolute;
    overflow-y: scroll;
    height: 9em;
}

.table-scroll tr {
    width: 100%;
    table-layout: fixed;
    display: inline-table;
}

.table-scroll thead > tr > th {
    border: none;
}
*/

/*
.tableFixHead { overflow-y: auto; height: 310px; }
.tableFixHead th { position: sticky; top: 0; }
*/

.tableFixHead    { overflow-y: auto; height: 310px; }

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

th {
    background:#eee;
}


/* Just common table stuff. Really. */
/*table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#eee; }*/
